.text {
  width: 0;
  height: 16px;
  position: relative;
  display: none;
}
.objetivo1,
.objetivo2Icon {
  height: 100px;
  width: 100px;
  position: relative;
}
.objetivo1 {
  display: none;
}
.objetivo2Icon {
  object-fit: cover;
  z-index: 2;
}
.objetivos1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 100%;
  font-weight: 400;
  font-family: inherit;
  background: linear-gradient(#085f63, #085f63), #49beb7;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.objetivosWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xl) 0 0;
}
.objectiveContent,
.objectiveContentWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.objectiveContent {
  width: 318px;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.objectiveContentWrapper {
  width: 1668px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.blankLine {
  margin: 0;
  font-size: var(--font-size-21xl);
  color: var(--color);
}
.brindarALos {
  margin: 0;
}
.mantenerUnaCultura {
  margin: 0;
  white-space: pre-wrap;
}
.brindarALosContainer {
  align-self: stretch;
  height: 675.1px;
  position: relative;
  line-height: 100%;
  display: inline-block;
  flex-shrink: 0;
  font-size: var(--font-size-17xl);
}
.frameGroup,
.frameWrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameGroup {
  width: 1723px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 87.1px;
}
.frameWrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-lightseagreen);
  font-family: var(--font-montserrat-alternates);
}
.frameParent,
.objetivos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frameParent {
  align-self: stretch;
  align-items: flex-end;
  gap: 36px;
  max-width: 100%;
}
.objetivos {
  width: 100%;
  position: relative;
  background-color: var(--background-default-default);
  overflow: hidden;
  align-items: flex-start;
  gap: 135.8px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1000px) {
  .objetivos {
    gap: 68px;
  }
}
@media screen and (max-width: 975px) {
  .objetivos1 {
    font-size: var(--font-size-13xl);
    line-height: 32px;
  }
  .brindarALosContainer {
    font-size: var(--font-size-10xl);
    line-height: 32px;
  }
}
@media screen and (max-width: 725px) {
  .frameGroup {
    gap: 44px;
  }
  .frameParent {
    gap: var(--gap-lg);
  }
  .objetivos {
    gap: 34px;
  }
}
@media screen and (max-width: 450px) {
  .objetivos1 {
    font-size: var(--font-size-5xl);
    line-height: 24px;
  }
  .brindarALosContainer {
    font-size: var(--font-size-3xl);
    line-height: 24px;
  }
  .frameGroup {
    gap: var(--gap-3xl);
  }
  .objetivos {
    gap: 17px;
  }
}
