.cardGridIcon,
.cards {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.cards {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-63xl);
  gap: var(--space-1600);
  min-height: 504px;
}
.cardGridIcon {
  width: 1920px;
  background-color: var(--background-default-default);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--space-1600);
  gap: var(--space-1200);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color);
  font-family: var(--font-montserrat-alternates);
}
@media screen and (max-width: 1200px) {
  .cardGridIcon,
  .cards {
    padding-left: var(--padding-22xl);
    padding-right: var(--padding-22xl);
    box-sizing: border-box;
  }
  .cardGridIcon {
    padding-left: var(--space-1600);
    padding-right: var(--space-1600);
  }
}
@media screen and (max-width: 750px) {
  .cards {
    gap: var(--space-1600);
  }
  .cardGridIcon {
    gap: var(--space-1200);
    padding-top: var(--space-1600);
    padding-bottom: var(--space-1600);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .cards {
    gap: var(--space-1600);
  }
}
