.infoIcon {
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.bodyTextFor,
.title {
  align-self: stretch;
  position: relative;
}
.title {
  margin: 0;
  font-size: inherit;
  letter-spacing: -0.02em;
  line-height: 29px;
  font-weight: 600;
  font-family: inherit;
}
.bodyTextFor {
  font-size: var(--body-base-size);
  line-height: 140%;
  color: var(--color-lightseagreen);
}
.text {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--space-200);
}
.starIcon {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.button1 {
  align-self: stretch;
  position: relative;
  line-height: 100%;
}
.button {
  height: 40px;
  border-radius: var(--radius-200);
  overflow: hidden;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-300) var(--padding-4xs);
  box-sizing: border-box;
  gap: var(--space-200);
}
.body,
.buttonGroup,
.card {
  justify-content: flex-start;
  max-width: 100%;
}
.buttonGroup {
  width: 384px;
  flex-direction: row;
  align-items: center;
  gap: var(--space-400);
  font-size: var(--body-base-size);
  color: var(--text-neutral-default);
}
.body,
.card {
  display: flex;
  align-items: flex-start;
}
.body {
  flex: 1;
  flex-direction: column;
  gap: var(--space-400);
  min-width: 160px;
}
.card {
  width: 500px;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 var(--padding-11xs) var(--padding-32xl) 0;
  box-sizing: border-box;
  gap: 24px 22px;
  min-width: 240px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color);
  font-family: var(--font-montserrat-alternates);
}
@media screen and (max-width: 450px) {
  .title {
    font-size: var(--font-size-lgi);
    line-height: 23px;
  }
}
