.infobancouniversitariocomve {
  position: absolute;
  margin: 0 !important;
  bottom: 63px;
  left: 588px;
  line-height: 23px;
  white-space: nowrap;
  z-index: 1;
}
.telefono{
  width: 187px;
  position: absolute;
  margin: 0 !important;
  bottom: 25px;
  left: 310px;
  line-height: 140%;
  display: inline-block;
  z-index: 1;
}
.direccinAvUniversidad {
  width: 187px;
  position: absolute;
  margin: 0 !important;
  bottom: 25px;
  left: 310px;
  line-height: 140%;
  display: inline-block;
  z-index: 1;
}
.component1 {
  align-self: stretch;
  height: 202px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
  z-index: 1;
  margin-top: -14px;
  text-align: left;
  font-size: var(--body-base-size);
  color: var(--color-lightseagreen);
  font-family: var(--font-montserrat-alternates);
}
@media screen and (max-width: 750px){
.component1,.direccinAvUniversidad,.infobancouniversitariocomve{
  flex-direction: column;
  padding: 15px;
  align-items: center;
}


}