.objetivo2Icon {
  height: 100px;
  width: 100px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.mision {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 43px;
  font-weight: 400;
  font-family: inherit;
}
.misionWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xl) 0 0;
}
.missionContainer,
.objectiveMission {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.missionContainer {
  width: 260px;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.objectiveMission {
  width: 1610px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.somos {
  margin: 0;
  width: 1723px;
  height: 154px;
  position: relative;
  font-size: inherit;
  line-height: 100%;
  font-weight: 400;
  font-family: inherit;
  color: var(--color-lightseagreen);
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.frameChild {
  height: 100px;
  width: 100px;
  position: relative;
  object-fit: cover;
}
.frameParent,
.objectiveMission1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frameParent {
  width: 272px;
  justify-content: flex-start;
  gap: var(--gap-7xl);
}
.objectiveMission1 {
  width: 1622px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
/*.queremosSerLa {
  margin: 0;
  height: 154px;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 100%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}*/
.financialOption {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-xs);
  box-sizing: border-box;
  color: var(--color-lightseagreen);
}
.content,
.financialOption,
.missionVision {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.missionVision {
  width: 1735px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-24xl-7);
}
.content {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-2xl) var(--padding-54xl) var(--padding-xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color);
  font-family: var(--font-montserrat-alternates);
}
@media screen and (max-width: 975px) {
  .mision,
  .queremosSerLa,
  .somos,
  .objectiveMission1 
  {
    font-size: 24px;
    line-height: 32px;
   flex-wrap: wrap;
   padding: 20px;
}
.misionWrapper{
  font-size: 28px;
}
.objetivo2Icon, .frameParent{
  justify-content: center;
    height: 80px;
    width: 80px;
    padding-top: 10px;
  }
 
}
@media screen and (max-width: 725px) {
  .missionVision {
    gap: var(--gap-3xl);
  }
  .content {
    padding: 10px;;
    box-sizing: border-box;
      display: flex;
  flex-direction: column;
  padding: 16px;
  font-size: 12px;
  }
  .objectiveMission1{
    flex-wrap: wrap;
    margin: auto;
  }
  .misionWrapper{
    font-size: 14px;
  }
  .missionContainer{
    display: flex;
   }
   .objetivo2Icon, .frameChild{
    height: 60px;
    width: 60px;
    padding-top: 30px;
    justify-content: center;
   }
  
  
}
@media screen and (max-width: 450px) {
  .mision,
  .queremosSerLa,
  .somos {
    font-size: 12px;
    line-height: 24px;
    padding: 10px;
  }
   .objetivo2Icon, .frameChild{
    height: 50px;
    width: 50px;
    padding-top: 30px;
    justify-content: center;
   }
  
}
