.icon {
  height: 35px;
  width: 23.3px;
  position: relative;
  display: none;
}
.figma {
  height: px;
  width: px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.logoInstagramIcon,
.xLogoIcon {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.logoInstagramIcon {
  overflow: hidden;
  flex-shrink: 0;
}
.buttonList {
  flex-direction: row;
  gap: var(--space-400);
}
.buttonList,
.title,
.title1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.title {
  width: 262px;
  flex-direction: row;
  gap: var(--space-600);
  min-width: 240px;
}
.title1 {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 var(--space-400);
}
.listItem {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 140%;
}
.textLinkListItem {
  width: 89px;
  height: 22px;
  position: relative;
  display: none;
}
.textLinkList {
  width: 262px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--space-300);
}
.textStrong1 {
  position: relative;
  line-height: 140%;
  font-weight: 600;
}
.textStrong,
.title2 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
}
.textStrong {
  display: none;
  flex-direction: row;
}
.title2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 0 var(--space-400);
}
.textLinkListItem7 {
  width: 89px;
  height: 22px;
  position: relative;
}
.listItem10 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 140%;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.footer,
.textLinkList1 {
  align-items: flex-start;
  justify-content: flex-start;
}
.textLinkList1 {
  height: 276px;
  width: 262px;
  display: none;
  flex-direction: column;
  gap: var(--space-300);
}
.footer {
  width: 100%;
  margin: 0 !important;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--background-default-default);
  border-top: 1px solid var(--border-default-default);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-11xl) var(--space-800) var(--padding-79xl);
  gap: var(--space-400);
  max-width: 100%;
  text-align: left;
  font-size: var(--body-base-size);
  color: var(--text-default-default);
  font-family: var(--font-montserrat-alternates);
}
