.iconButton,
.menu16Icon {
  overflow: hidden;
  flex-shrink: 0;
}
.menu16Icon {
  height: 20px;
  width: 20px;
  position: relative;
}
.iconButton {
  height: 44px;
  width: 44px;
  border-radius: var(--scale-06);
  background-color: var(--text-brand-on-brand);
  border: 1px solid var(--border-default-default);
  box-sizing: border-box;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-300) var(--padding-2xs);
}
.figma {
  margin: 0;
  height: 35px;
  width: 40px;
}
.block {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.title {
  position: relative;
  line-height: 100%;
}
.navigationPill {
  border-radius: var(--radius-200);
  background-color: var(--text-brand-on-brand);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-200) var(--padding-8xs);
}
.title1 {
  align-self: stretch;
  position: relative;
  line-height: 100%;
  display: flex;
  align-items: center;
}
.navigationPill1,
.navigationPill2 {
  align-self: stretch;
  border-radius: var(--radius-200);
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navigationPill1 {
  display: none;
  padding: var(--space-200) var(--padding-8xs);
}
.navigationPill2 {
  display: flex;
  padding: var(--space-200);
}
.navigationPillList {
  height: 32px;
  width: 870px;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: var(--space-200);
  max-width: 100%;
}
.header,
.headerAuth {
  flex-direction: row;
  justify-content: flex-start;
}
.headerAuth {
  height: 32px;
  width: 178px;
  display: none;
  align-items: center;
  gap: var(--space-300);
}
.header {
  align-self: stretch;
  flex: 1;
  background-color: var(--background-default-default);
  border-bottom: 1px solid var(--border-default-default);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: var(--space-800);
  max-width: 100%;
  text-align: left;
  font-size: var(--body-base-size);
  color: var(--text-default-default);
}
.starIcon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.iconButton2 {
  height: 100%;
  width: 100%;
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-lightseagreen);
  border: 1px solid var(--border-brand-default);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-300);
  z-index: 1;
}
.acceso,
.logInIcon {
  align-self: stretch;
  position: relative;
  z-index: 2;
}
.logInIcon {
  width: 74px;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 49px;
}
.acceso {
  margin: 0;
  font-size: inherit;
  line-height: 100%;
  font-weight: 700;
  font-family: inherit;
  white-space: nowrap;
}
.loginButtons,
.loginLabels {
  width: 147px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
  box-sizing: border-box;
}
.loginButtons {
  width: 248px;
  margin: 0 !important;
  position: absolute;
  top: calc(50% - 33.5px);
  right: 64px;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-4xs) var(--padding-3xs);
  gap: var(--gap-11xs);
}
.logoNoBackground1Icon {
  height: calc(100% - 17px);
  width: 562px;
  position: absolute;
  margin: 0 !important;
  top: 6px;
  bottom: 11px;
  left: 46px;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.homeIcon {
  height: 49px;
  width: 60px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  mix-blend-mode: luminosity;
  z-index: 2;
}
.inicioWrapper,
.loginButtons1,
.loginNavigation {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.inicioWrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-sm) 0 0;
}
.loginButtons1,
.loginNavigation {
  flex-direction: row;
}
.loginButtons1 {
  width: 219px;
  margin: 0 !important;
  position: absolute;
  top: calc(50% - 33.5px);
  right: 347px;
  padding: var(--padding-8xs) var(--padding-mini) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.loginNavigation {
  align-self: stretch;
  height: 99px;
  position: relative;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--background-default-default);
  font-family: var(--font-montserrat-alternates);
}
