.registraTuUsuario {
  margin: 0;
  width: 667px;
  position: relative;
  font-size: inherit;
  line-height: 100%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.registraTuUsuarioWrapper {
  width: 1861px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.youngstersWithLaptopCafe1 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-21xl);
}
.frameChild {
  width: 931px;
  height: 666px;
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--color-lightseagreen);
  display: none;
  max-width: 100%;
}
.additionalInput {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-10xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.inputFieldParent,
.rectangleParent {
  width: 754px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-12xl);
  max-width: 100%;
}
.rectangleParent {
  width: 931px;
  border-radius: var(--br-21xl);
  background-color: var(--color-lightseagreen);
  align-items: center;
  padding: var(--padding-54xl) var(--padding-xl) var(--padding-60xl);
  box-sizing: border-box;
  gap: var(--gap-35xl);
  z-index: 1;
}
.continuar {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-17xl);
  line-height: 100%;
  font-family: var(--font-montserrat-alternates);
  color: var(--background-default-default);
  text-align: center;
  z-index: 2;
}
.registrationButtonLabel,
.registrationButtonWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.registrationButtonLabel {
  width: 232px;
  flex-direction: column;
  padding: var(--padding-5xl) 0 0;
  margin-left: -259px;
}
.registrationButtonWrapper {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-8xl) 0 0;
  background-color: transparent;
  align-self: stretch;
  width: 293px;
  flex-direction: row;
}
.registrationButtonWrapperWrapper {
  width: 887px;
  height: 86px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.frameItem {
  width: 279px;
  height: 275px;
  position: absolute;
  margin: 0 !important;
  top: 166px;
  left: 796px;
  filter: blur(4px);
  border-radius: 50%;
  background-color: var(--color);
  z-index: 2;
}
.registrationContent,
.youngstersWithLaptopCafe1Parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.youngstersWithLaptopCafe1Parent {
  align-self: stretch;
  justify-content: flex-end;
  padding: var(--padding-366xl) var(--padding-451xl) var(--padding-103xl);
  box-sizing: border-box;
  position: relative;
  text-align: left;
  font-size: var(--body-base-size);
  color: var(--color-gray-200);
  font-family: var(--body-base);
}
.registrationContent {
  flex: 1;
  justify-content: flex-start;
  gap: var(--gap-27xl);
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color);
  font-family: var(--font-montserrat-alternates);
}
@media screen and (max-width: 1200px) {
  .youngstersWithLaptopCafe1Parent {
    padding: var(--padding-231xl) var(--padding-216xl) var(--padding-60xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .registraTuUsuario {
    font-size: var(--font-size-19xl);
    line-height: 38px;
  }
  .continuar {
    font-size: var(--font-size-10xl);
    line-height: 29px;
  }
}
@media screen and (max-width: 750px) {
  .inputFieldParent {
    gap: var(--gap-mini);
  }
  .rectangleParent {
    padding-top: var(--padding-28xl);
    padding-bottom: var(--padding-32xl);
    box-sizing: border-box;
  }
  .youngstersWithLaptopCafe1Parent {
    padding: var(--padding-143xl) var(--padding-98xl) var(--padding-32xl);
    box-sizing: border-box;
  }
  .registrationContent {
    gap: var(--gap-4xl);
  }
}
@media screen and (max-width: 450px) {
  .registraTuUsuario {
    font-size: var(--font-size-10xl);
    line-height: 29px;
  }
  .rectangleParent {
    gap: var(--gap-8xl);
  }
  .continuar {
    font-size: var(--font-size-3xl);
    line-height: 22px;
  }
  .youngstersWithLaptopCafe1Parent {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
