.telfono582125555555 {
  margin: 0;
}
.listItem {
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 22px);
  right: -119px;
  line-height: 140%;
}
.textLinkListItem {
  width: 89px;
  height: 22px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  text-align: left;
  font-size: var(--body-base-size);
  color: var(--color-lightseagreen);
  font-family: var(--font-montserrat-alternates);
}
